body {
    background-color: blue; 
}

.copy_right_footer {
position: fixed;
bottom: 0;
width: 100%;
text-align: center;
line-height: 3;
color: red;
background-color: black;
}

h1 {

   font: arial;
font-weight: bold;
color: red;
}

h4 {

    font: comic;
    font-weight: lighter;
    color: green;
}

#camera